@keyframes zoom {
    0%{
        transform: rotateZ(0deg);
    }
    50%{
        transform: rotateZ(30deg);
    }
    75%{
        transform: rotateZ(-30deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}
#inner{

    width: 100%;

    background-color: #FFBFA8;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 2;
    overflow: hidden;
}
#inner div{
    width: calc(100% - 750px);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-self: center;
}

#inner div h2{
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    margin-top: 20px;
    display: inline-block;
}
#inner div h1{
    font-family: 'Poppins', sans-serif;
    font-size: 80px;
    display: inline-block;
}
#inner div p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
#inner button{
    background-color: hsl(2, 100%, 70%);
    border: 0;
    color: white;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    width: 150px;
    border-radius: 4px;
    top: 30px;
    cursor: pointer;
    position: relative;
    margin: auto;
    transition: width, height 0.8s;
}
#inner button:hover{
    animation-name: zoom;
    animation-duration: 0.8s;
    width: 170px;
    height: 60px;
}
@media screen and (max-width: 1300px) and (min-width: 750px){
    #inner div h1{
        font-size: 50px;
    }
    #inner div{
        width: calc(100% - 500px);
    }
    #inner{
        height: 500px;
    }
    #inner  img{
        width: 500px;
        height: auto;
    }
}
@media screen and (max-width: 750px){
    #inner{
        height: 550px;
    }
    #inner div{
        width: 100%;
    }
    #inner  img{
        display: none;
    }
}