#inner{
    margin: 5%;
}
form{
    width: 500px;
    display: block;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}
label{
    font-family: Karla, serif;
}
input , select{
    width: 100% ;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(71,205,198);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=radio]
{
    width: auto;
    display: inline-block;
}
form a{
    text-decoration: none;
    color: gray;
    margin: 50px 20px;
}

/*  Profile */

@media screen and (max-width: 750px){
    #inner{
        flex-direction: column-reverse;
    }
    #map{
        width: 80%;
        margin: 15px 0;
        align-self: center;
    }
    #inner div{
        margin: 0;
        align-self: center;
    }
    form{
        width: 300px;
    }
    #inner div form, #inner ul{
        align-self: center;
        margin: 10px;
    }
}