#inner{
    margin: 5%;
}


/*  Profile */

@media screen and (max-width: 750px){
    #inner{
        flex-direction: column-reverse;
    }
    #map{
        width: 80%;
        margin: 15px 0;
        align-self: center;
    }
    #inner div{
        margin: 0;
        align-self: center;
    }
    form{
        width: 300px;
    }
    #inner div form, #inner ul{
        align-self: center;
        margin: 10px;
    }
}